{
    "presets": [
        [
            "es2015",
            {
                "modules": false
            }
        ],
        "stage-2"
    ],
    "plugins": [
        "syntax-dynamic-import",
        "syntax-async-functions",
        "transform-regenerator"
    ]
}